include README.md
recursive-include docs *.md
include LICENSE
include config.yaml
include companies.yaml
include profile.example.json
include .env.example
include auto.py
recursive-include scripts *.sh *.bat
recursive-include jobhunt *.py
include app.py
recursive-include templates *
recursive-include static *

